/* id=# class=. */

main{

  margin: 0px;

}

.logoimg {
  margin: 10px;
  width: 200px;
}

.message{

  font-family: 'Kaisei Decol', serif;
  text-align: center;
  font-size: larger;

}

#maps{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  height: 80vh;
  width: 1650px;
}

.footer {
  background-color: #707070;
  color: #ffffff;
  margin : 0px ;
  padding : 10px ;
  height : 100% ;
  text-align: center ;
  font-family: 'Dela Gothic One', cursive;
  vertical-align: text-bottom;
}

table{

  background-color: #F22;

}

td{

vertical-align: top;

}